<ul class="list-unstyled">
    <li ng-repeat="card in cards | orderBy:cardOrder | limitTo: 3"
        title="{{card.desc}}"
        class="thumbnail">
        <img ng-src="{{coverImage(card).url}}">

        <div class="caption">
            <h3>{{card.name}}</h3>
            <h5>{{card.due | date: "EEE, dd MMM, HH:mm"}}</h5>

            <p><a ng-if="getFb(card).url" href="{{getFb(card).url}}" target="_blank" class="btn btn-primary"
                  role="button">FB</a>
            </p>
        </div>
    </li>
</ul>
